<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="personDao" class="ru.graff.dao.PersonDaoSimple"/>
    <bean id="testingDao" class="ru.graff.dao.TestingDaoSimple"/>

    <bean id="testingService" class="ru.graff.service.TestingServiceImpl">
        <constructor-arg name="personDao" ref="personDao"/>
        <constructor-arg name="testingDao" ref="testingDao"/>
    </bean>

</beans>
